#player {
  width: 50;
  height: 50;
  background-color: red;
  border: 2px black solid;
  position: relative;
}

#food {
  position: relative;
  left: 0;
  top: 0;
}

.canvas {
  position: absolute;
  left:0;
  top:0;
}